.container {
    margin-top: 10%;
    margin-left: 10%;
    text-align: center;
}

.ansButtons {
    background-color: purple;
    display: block;
    margin-left: 40%;
    margin-top: 2%;
    color: thistle;
    width: 25%;


}

#para {
    font-family: cursive;
    font-size: x-large;
    color: slateblue;
}

h2 {
    text-align: right;
}